.header {
  font-size: 32px;
  color: #141b2b;
  font-weight: 600;
  padding-top: 40px;
}

.superCard {
  //   width: 100%;
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;

  .cardTitle {
    font-size: 20px;
    color: #141b2b;
    font-weight: 600;
    margin-bottom: 16px;
  }
}
