@import "@/styles/unit.scss";

.container {
  padding: rem(24);
  background-color: #fff;
  border-radius: rem(12);
  margin-top: rem(28);
  .title {
    font-family: "Inter";
    font-weight: 600;
    font-size: rem(20);
    line-height: rem(24);
    color: #141b2b;
    margin-bottom: rem(8);
  }
  .text {
    font-size: rem(16);
    line-height: rem(27);
    letter-spacing: 0.01em;
    color: #5b6871;
  }
  .radioBtn{
   margin-top: rem(16);
  }
}
