@import "@/styles/unit.scss";
.container {
  height: rem(407);
  position: relative;
  .setviceTitle {
    position: absolute;
    top: -10%;
    width: 60%;
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(48);
    letter-spacing: 0.01em;
  }
  .image {
    position: relative;
    transform: translateY(50%);
    height: rem(200);
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("/images/line.png");
    .registerShippo {
      position: absolute;
      left: 11%;
      top: 15%;
    }
    .order {
      position: absolute;
      left: 43%;
      top: 20%;
    }
    .parcel {
      position: absolute;
      left: 72%;
      top: -20%;
    }
  }
}
