@import "@/styles/unit.scss";

.container {
  display: flex;
  justify-content: space-between;
  .video {
    width: 46%;
    video {
      width: 100%;
      border-radius: rem(24);
    }
  }
  .content {
    width: 46%;
    h1 {
      font-family: "Nobile";
      font-weight: 500;
      font-size: rem(32);
      line-height: rem(42);
    }
    p {
      margin-top: rem(12);
      font-style: normal;
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(27);
    }
  }
}
