@import "@/styles/unit.scss";

.container {
  display: flex;
  justify-content: space-between;
  background-color: #F4F6FA;
  border-radius: rem(12);
  padding: rem(24);
  margin-bottom: rem(16);

  &__leftItem {
    width: 8%;
    display: flex;
    align-items: flex-start;
    .icon {
      display: flex;
      align-items: center;
      width: rem(68);
      padding: rem(16);
      background: #FFFFFF;
      border-radius: rem(8);
    }
  }

  &__content {
    width: 95%;

    .title {
      font-family: "Nobile";
      font-weight: 400;
      font-size: rem(18);
      line-height: rem(20);
      letter-spacing: 0.01em;
      color: #1a2024;
    }
    .text {
      margin-top: rem(8);
      font-size: rem(16);
      line-height: rem(24);
      color: #5b6871;
    }
  }
}
