@import "@/styles/unit.scss";

.container {
  h1 {
    text-align: center;
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(48);
    margin-bottom: rem(24);
  }
  .stores {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
  }
  .btn {
    text-align: center;
    margin-top: rem(32);
    margin-bottom: rem(108);
  }
}
