@import "@/styles/unit.scss";

.container {
  .title {
    font-family: "Nobile";
    font-weight: 500;
    font-size: rem(40);
    line-height: rem(60);
    letter-spacing: 0.01em;
    color: #141b2b;
    margin: rem(40) 0;
  }
  .orders {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(100);
  }
}
