@import "@/styles/unit.scss";

.infos {
  &__title {
    margin-bottom: rem(16);
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(19);
    color: #141b2b;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(12);

    &_twoColumn {
      grid-template-columns: repeat(2, 1fr);
      margin-top: rem(12);

      .infos__value {
        position: relative;

        &::after {
          content: "Изменить";
          position: absolute;
          top: 50%;
          right: rem(12);
          transform: translateY(-50%);
          font-size: rem(14);
          line-height: rem(17);
          color: #0e73f6;
        }
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: rem(6);
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(17);
    color: #5b6871;
  }

  &__value {
    padding: rem(12);
    border: 1px solid #e5e9eb;
    border-radius: 4px;
    font-size: rem(14);
    line-height: rem(17);
    color: #252c32;
  }
}

.notification {
  &__title {
    margin-bottom: rem(16);
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(19);
    color: #141b2b;
  }

  &__wrapper {
    &Item {
      font-weight: 500;
      font-size: rem(14);
      line-height: rem(16);
      color: #5b6871;
    }
  }
}
