@import "@/styles/unit.scss";

.header {
  display: flex;
  align-items: center;
  column-gap: rem(12);
  margin-bottom: rem(16);

  &__action {
    display: flex;
    cursor: pointer;
  }

  &__trackCode {
    font-weight: 600;
    font-size: rem(20);
    line-height: rem(24);
    color: #141b2b;
  }

  &__date {
    margin-left: auto;
    color: #48535b;
  }
}
