@import "@/styles/unit.scss";

.container {
  display: flex;
  flex-direction: column;
  .title {
    text-align: center;
    font-family: "Nobile";
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(48);
    letter-spacing: 0.01em;
    color: #141b2b;
    margin-bottom: rem(40);
  }
  .accordion {
    margin: 0 rem(160) rem(100) rem(160);
  }
}
