@import "@/styles/unit.scss";

.container {
  h1 {
    font-family: "Nobile";
    font-style: normal;
    font-weight: 500;
    font-size: rem(40);
    line-height: rem(60);
    margin-bottom: rem(24);
  }
}
