@import "@/styles/unit.scss";

.main {
  background-color: #f4f5f6;
  padding-bottom: rem(150);
  .header {
    font-weight: 600;
    font-size: rem(32);
    line-height: rem(39);
    margin: 0;
    padding-top: rem(40);
  }

  .services {
    margin-top: rem(28);
    background-color: #fff;
    border-radius: rem(12);
    padding: rem(24);

    .servicesHeader {
      font-size: rem(20);
      color: #141b2b;
      margin-bottom: rem(24);
    }

    .serviceItems {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(16);
    }
  }
}
