@import "@/styles/unit.scss";

.container {
  position: relative;
  margin-bottom: 15%;
  .buttons {
    position: absolute;
    display: flex;
    bottom: -15%;
    right: 0;
    gap: rem(16);
    margin-top: rem(16);
    .aggreement {
      display: flex;
      align-items: center;
      a {
        color: #1ac19d;
        text-decoration: underline;
      }
    }

    .contained {
      cursor: pointer;
      background-color: #ff8500;
      text-align: center;
      padding: rem(8) rem(24);
      border-radius: 4px;
      border: 1px solid #ff8500;
      .text {
        font-size: rem(16);
        line-height: rem(24);
        color: #ffffff;
      }
    }
  }
}
