@import "@/styles/unit.scss";

.container {
  background-color: #fff;
  border-radius: rem(16);
  padding: rem(32);

  .title {
    font-family: "Nobile";
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(48);
    letter-spacing: 0.01em;
    color: #141b2b;
    margin-bottom: rem(24);
  }
  .items {
    display: flex;
    align-items: center;

    .firstInput {
      width: 65%;
      .quession {
        cursor: pointer;
        position: relative;
        &:hover {
          .hoverElement {
            display: flex;
          }
        }
        .hoverElement {
          display: none;
          position: absolute;
          top: rem(40);
          padding: rem(16) rem(12);
          right: 0;
          background-color: #fff;
          box-shadow: 0 rem(4) rem(40) rgba(0, 0, 0, 0.08);
          border-radius: rem(16);
        }
      }
    }
    .secondInput {
      width: 35%;
    }
  }
  .error {
    width: 97%;
    margin-left: rem(8);
  //  padding: rem(10);
  }
  .addItem {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: rem(24);
    color: #1ac19d;
    cursor: pointer;
    span {
      margin-right: rem(12);
    }
  }
  .btn {
    display: flex;
    justify-content: end;
    margin-top: rem(16);
  }
}
