@import "@/styles/unit.scss";

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  outline: none;
  background-color: #fff;
  padding: rem(32);
  border-radius: rem(12);
}
