@import "unit";
@import "../../public/fonts/font.css";

:root {
  --primary-color: #ef722e;
  --primary-soft-color: #ef722e14;
  --secondary-color: #fdc100;
  --text-color: #696969;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.crosshairs {
  &::before,
  &::after {
    background: #fff !important;
  }
}

// #infoSlider {
//   .slick-slide {
//     width: 100%;
//   }

//   .slick-dots {
//     bottom: rem(15);
//   }

//   .slick-dots li.slick-active button:before {
//     color: #1ac19d;
//     opacity: 1;
//   }

//   .slick-dots li button:before {
//     font-size: rem(13);

//     color: rgba(255, 255, 255, 0.7);

//     @media (max-width: 768px) {
//       font-size: rem(11);
//     }
//   }

//   .slick-dots li {
//     margin: 0;
//   }

//   .slick-prev {
//     height: auto;
//     width: auto;
//     left: rem(100);

//     &::before {
//       display: none !important;
//     }
//   }

//   .slick-next {
//     height: auto;
//     width: auto;
//     right: rem(10);
//     z-index: 3;

//     &::before {
//       display: none !important;
//     }
//   }
// }

.custom-swiper {
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: rem(13);
      height: rem(13);
      background-color: rgba(255, 255, 255, 0.7);
      opacity: 1;

      &-active {
        width: rem(28);
        border-radius: rem(50);
        background-color: #1ac19d !important;
      }
    }
  }
  .swiper-button-next {
    background-image: url("../../public/icons/next.svg");
    background-repeat: no-repeat;
    background-position: 50% 50% !important;
    margin-right: rem(100);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: rem(50);
    width: rem(48);
    &::after {
      display: none;
    }
  }
  .swiper-button-prev {
    margin-left: rem(100);
    background-image: url("../../public/icons/prev.svg");
    background-repeat: no-repeat;
    background-position: 50% 50% !important;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: rem(50);
    width: rem(48);
    &::after {
      display: none;
    }
  }
}
