@import "@/styles/unit.scss";

.footer {
  width: 100%;
  background-color: #141b2b;
  padding: rem(40) 0;
  .box {
    display: flex;
    .resurs {
      width: 50%;
      .visaCards {
        display: flex;
        gap: rem(8);
        margin-top: rem(20);
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      width: 50%;
      .urls {
        min-width: 45%;
        list-style: none;
        padding: 0;
        row-gap: rem(24);
        display: block;
        flex-direction: column;
        li {
          margin-bottom: rem(12);
          .urlItems {
            font-size: rem(16);
            line-height: rem(19);
            opacity: 0.8;
            color: #fff;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .contacts {
        min-width: 45%;
        list-style: none;
        padding: 0;
        row-gap: rem(24);
        display: flex;
        flex-direction: column;
        li a {
          display: flex;
          gap: rem(14);
          align-items: center;
          font-size: rem(18);
          line-height: rem(22);
          color: #fff;
        }
      }
    }
  }
  .underline {
    height: rem(1);
    background: #e4e4e3;
    opacity: 0.2;
    margin-bottom: rem(37);
    margin-top: rem(40);
  }
  .footerText {
    display: flex;
    justify-content: space-between;
    .networks {
      display: flex;
      gap: rem(20);
    }
    .info {
      font-size: rem(14);
      line-height: rem(20);
      color: #fff;
      a {
        text-decoration: underline;
      }
    }

    // .logo {
    //   margin-right: 40px;
    // }
    // ul {
    //   list-style: none;
    //   row-gap: 20px;
    //   display: flex;
    //   flex-direction: column;
    // }
  }
}
