@import "@/styles/unit.scss";

.button {
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(24);
  padding: 8px 24px;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}

.primary {
  border: none;
  background: #ff8500;
  color: #fff;
}

.secondary {
  border: 1px solid #ff8500;
  background-color: transparent;
  color: #ff8500;
}

.green {
  background-color: #1ac19d;
  color: #fff;
}
