@import "@/styles/unit.scss";

.container {
  display: flex;
  .leftSide {
    width: 40%;
    .title {
      font-weight: 500;
      font-size: rem(32);
      line-height: rem(42);
      color: #141b2b;
    }
    .text {
      color: #5b6871;
      font-size: rem(16);
      line-height: rem(27);
      letter-spacing: 0.01em;
      margin-bottom: rem(40);
      margin-top: rem(12);
    }
  }
  .rightCards {
    width: 60%;
    .cards {
      display: flex;
      flex-wrap: wrap;
      gap: rem(24);
      margin-left: 9%;
    }
  }
}
