@import "@/styles/unit.scss";

.container {
  display: flex;
  margin-top: rem(32);

  &__howItWork {
    width: 50%;
    background: #f4f6fa;
    border-top-left-radius: rem(24);
    border-bottom-left-radius: rem(24);
    padding: rem(40) rem(83) rem(40) rem(40);

    .title {
      font-family: "Nobile";
      font-weight: 500;
      font-size: rem(40);
      line-height: rem(60);
      letter-spacing: 0.01em;
      color: #141b2b;
    }
    .text {
      margin-top: rem(8);
      font-size: rem(16);
      line-height: rem(27);
      color: #5b6871;
    }

    .buttons {
      display: flex;
      margin-top: rem(32);
      gap: rem(16);
    }
  }

  &__video {
    width: 50%;
    background-color: black;
    border-top-right-radius: rem(24);
    border-bottom-right-radius: rem(24);
    video {
      width: 100%;
      height: 100%;
      // padding: 20px;
      border-top-right-radius: rem(24);
      border-bottom-right-radius: rem(24);
    }
  }
}
