@import "@/styles/unit.scss";

.addParcel {
  background-color: #f4f5f6;
  padding-bottom: 120px;

  .allInformation {
    display: flex;
    align-items: center;
    gap: 16px;

    .inputWrapper {
      width: 100%;

      p {
        color: #5b6871;
        font-size: 16px;
        margin-bottom: 8px;
      }

      input {
        font-size: 14px;
        color: #5b6871;
        padding: 12px;
        border: 1px solid #e5e9eb;
        border-radius: 8px;
        max-width: 386px;
        width: 100%;
      }
    }
  }

  .declarationDesc {
    color: #48535b;
    font-size: 18px;
  }

  .limit {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 19px;
    margin-bottom: 12px;
    p {
      color: #1ac19d;
      font-size: 16px;
    }
  }

  .addMore {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1ac19d;
    gap: rem(5);
    margin-top: rem(16);

    &:hover {
      cursor: pointer;
    }

    p {
      font-size: rem(16);
    }

    .addIcon {
      font-size: rem(22);
    }
  }

  .buttons {
    display: flex;
    gap: rem(10);
    align-items: center;
    justify-content: end;
    margin-top: rem(16);
  }
}
