.textInput {
  border: none;

  &:focus {
    outline: none;
  }
}

.checkboxCell {
  text-align: center;

  .checkBox {
    background: linear-gradient(0deg, #f6f8f9, #f6f8f9),
      linear-gradient(0deg, #b0babf, #b0babf);
    border: 1px solid #b0babf;
  }
}

.deleteIcon {
  color: red;

  &:hover {
    cursor: pointer;
  }
}
