@import "@/styles/unit.scss";

.container {
  background: #ffffff;
  border-radius: rem(12);
  padding: rem(24);
  &__title {
    font-family: "Nobile";
    font-style: normal;
    font-weight: 500;
    font-size: rem(20);
    line-height: rem(26);
    color: #1a2024;
    margin-bottom: rem(12);
  }

  &__category {
    display: flex;
    flex-direction: column;
    .css-1s72h25-MuiFormControlLabel-root {
      padding: 0;
    }
  }
  .btn {
    margin-top: rem(24);
    width: 100%;
    cursor: pointer;
    background-color: #fff;
    text-align: center;
    padding: rem(8) rem(24);
    border-radius: 8px;
    border: 1px solid #84919a;
    font-size: rem(16);
    line-height: rem(24);
    color: #141b2b;
  }
}
