@import "@/styles/unit.scss";

.container {
  display: flex;
  justify-content: end;
  height: rem(476);
  background-size: cover;
  border-radius: rem(24);
  margin-bottom: rem(100);
  background-image: url("/images/deliveryImage.png");
  .counter {
    width: rem(370);
    margin: rem(48) rem(42);
    .weght {
      display: flex;
    }
    .cargoSwitch {
      margin-top: rem(16);
      display: flex;
      padding: 0 rem(10);
      align-items: center;
      justify-content: space-between;
    }
    .sizes {
      margin-top: rem(24);
      display: flex;
      justify-content: space-between;
    }
    .border {
      width: 96%;
      height: 1px;
      margin: rem(30) rem(7);

      background-color: #dde2e4;
    }
    .costs {
      margin-top: rem(16);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 rem(10);
      .number {
        color: #303940;
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(14);
      }
    }
  }
}
