@import "@/styles/unit.scss";

.container {
  display: flex;
  align-items: center;
  gap: rem(12);
  padding: rem(8) rem(12);
  margin-bottom: rem(4);

  .text {
    font-family: "Inter";
    font-size: 16px;
    line-height: 26px;
    color: #252c32;
    &:hover {
      color: #F2271C;
    }
  }
  .count {
    text-align: center;
    width: rem(32);
    height: rem(24);
    background: #ffdab3;
    border-radius: rem(12);
    font-family: "Inter";
    font-weight: 600;
    font-size: rem(14);
    line-height: rem(24);
    letter-spacing: -0.006em;
    color: #ff8500;
  }
}
