@import "@/styles/unit.scss";
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(100);
  .content {
    width: 46%;
    h1 {
      font-family: "Nobile";
      font-weight: 500;
      font-size: rem(32);
      line-height: rem(42);
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(27);
    }
  }
  .image {
    width: 46%;
    img {
      width: 100%;
    }
  }
}
