@import "@/styles/unit.scss";

.loginBox {
  .title {
    font-family: "Inter";
    font-weight: 500;
    font-size: rem(24);
    line-height: rem(24);
    color: #00040a;
    text-align: center;
  }

  .inputBox {
    margin-top: rem(16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: rem(32);
    width: 100%;
    .btn {
      width: 100%;
      cursor: pointer;
      background-color: #ff8500;
      border: none;

      text-align: center;
      padding: rem(8) rem(16);
      border-radius: 8px;
      .text {
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(24);
        color: #ffffff;
      }
    }
  }
}

.otpBox {
  .title {
    font-family: "Inter";
    font-weight: 500;
    font-size: rem(24);
    line-height: rem(24);
    color: #00040a;
    text-align: center;
  }
  .text {
    margin-top: rem(12);
    font-size: rem(16);
    line-height: rem(27);
    color: #66686c;
    span {
      font-family: "Inter";
      font-weight: 500;
      font-size: rem(16);
      line-height: rem(18);
      color: #ff8500;
      margin-left: rem(8);
      cursor: pointer;
    }
  }
  .otpinputBox {
    margin-top: rem(16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: rem(32);
    width: 100%;
    .btn {
      width: 100%;
      cursor: pointer;
      background-color: #ff8500;
      border: none;

      text-align: center;
      padding: rem(8) rem(16);
      border-radius: 8px;
      .text {
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(24);
        color: #ffffff;
      }
    }
  }
}

.registerBox {
  .title {
    font-family: "Inter";
    font-weight: 500;
    font-size: rem(24);
    line-height: rem(24);
    color: #00040a;
    text-align: center;
  }

  .registerinputBox {
    margin-top: rem(16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: rem(24);
    width: 100%;
    .buttons {
      display: flex;
      gap: rem(24);
  
      .btn {
        width: 100%;
        cursor: pointer;
        background-color: #ff8500;
        border: none;

        text-align: center;
        padding: rem(12) rem(16);
        border-radius: 8px;
        .text {
          font-weight: 500;
          font-size: rem(16);
          line-height: rem(24);
          color: #ffffff;
        }
      }
    }
  }
}
