@import "@/styles/unit.scss";

.profile {
  padding-top: rem(40);
  padding-bottom: rem(40);
  background-color: #f4f5f6;

  &__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    column-gap: rem(24);
  }

  &__content {
    padding: rem(24);
    border-radius: rem(12);
    background-color: #fff;
  }
}
