@import "@/styles/unit.scss";
.container {
  display: flex;
  justify-content: space-between;
  .image {
    width: 40%;
  }
  .info {
    width: 40%;
    h1 {
      font-weight: 500;
      font-size: rem(32);
      line-height: rem(42);
    }
    p {
      font-size: rem(16);
      line-height: rem(27);
      margin-bottom: rem(40);
      margin-top: rem(12);
    }
  }
}
