.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  background-color: #fff;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 24px;

  .headSection {
    display: flex;
    align-items: center;
    gap: 12px;

    .modalIcon {
      padding: 15px 12px;
      background-color: #e4fcfc;
      border-radius: 8px;
    }

    .headInfo {
      .header {
        font-size: 18px;
        color: #303940;
        font-weight: 500;
      }

      .price {
        font-size: 16px;
        color: #84919a;
        margin-top: 8px;
      }
    }
  }

  .description {
    font-size: 14px;
    color: #6e7c87;
    font-weight: 500;
    margin-top: 16px;
  }

  .comment {
    margin-top: 24px;
    .commentText {
      font-size: 14px;
      color: #5b6871;
      margin-bottom: 6px;
    }

    .commentInput {
      width: 100%;
      border: 1px solid #e5e9eb;
      border-radius: 4px;
      padding: 12px;
    }
  }

  .buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 24px;
    gap: 10px;
    .cancelBtn {
      font-size: 16px;
      color: #ff8500;
      padding: 10px 24px;
      background-color: #fff;
      border: 1px solid #dde2e4;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
      }
    }

    .saveBtn {
      font-size: 16px;
      color: #fff;
      padding: 10px 24px;
      background-color: #ff8500;
      border-radius: 4px;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
