@import "@/styles/unit.scss";
.header {
  background-color: #ffffff;
  height: rem(80);
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f6f8f9;
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .links {
      display: flex;
      align-items: center;
      .logo {
        margin-right: rem(40);
        color: var(--secondary-color);
      }
      nav {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          column-gap: 20px;
          align-items: center;
        }
      }
    }
    .profile {
      display: flex;
      align-items: center;
      gap: rem(16);
      .calculator {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: rem(10) rem(24);
        background: #f6f8f9;
        border-radius: rem(62);
      }
      .alarm {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: rem(10) rem(24);
        background: #f6f8f9;
        border-radius: rem(62);
      }
      .bonus {
        position: relative;
        display: flex;
        gap: rem(8);
        align-items: center;
        cursor: pointer;
        padding: rem(10) rem(24);
        background: #f6f8f9;
        border-radius: rem(62);
        &:hover {
          .bounsPopover {
            display: block;
            animation: toTop 0.8s forwards;
          }
        }
        .bounsPopover {
          display: none;
          width: rem(340);
          border-radius: rem(12);
          position: absolute;
          right: 0;
          top: 150%;
          padding: rem(12);
          background-color: #fff;
        }
      }
      .profileName {
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: rem(44);
        height: rem(44);
        background: rgba(239, 114, 46, 0.08);
        border-radius: rem(50);

        &:hover {
          .profilePopover {
            display: block;
            animation: toTop 0.8s forwards;
          }
        }
        p {
          font-weight: 600;
          font-size: rem(14);
          line-height: rem(24);
          color: #ff8500;
        }
        .profilePopover {
          display: none;
          width: rem(250);
          border-radius: rem(12);
          position: absolute;
          right: 0;
          top: 150%;
          padding: rem(12) rem(4);
          background-color: #fff;
        }
      }
    }
  }
}

@keyframes toTop {
  from {
    top: 48px;
  }

  to {
    top: 40px;
  }
}
