@import "@/styles/unit.scss";

.recipient {
  &__title {
    margin-bottom: rem(8);
    font-weight: 500;
    font-size: rem(16);
    line-height: rem(19);
    color: #141b2b;
  }
}

.infoCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: rem(8) rem(16);

  & > :first-child {
    grid-column: 1 / -1;
    margin-bottom: rem(8);
  }
}

.infoCard {
  display: flex;
  column-gap: rem(16);
  margin-bottom: rem(24);

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: rem(16);
    width: 100%;
    padding: rem(12) rem(16);
    border: 1px solid #e5e9eb;
    border-radius: rem(8);
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
    font-weight: 500;
    font-size: rem(14);
    line-height: rem(17);
  }

  &__subtitle {
    color: #777777;
  }

  &__title {
    color: #141b2b;
  }

  &__action {
    cursor: pointer;
  }
}

.infoAndCopy {
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(8);
    margin-bottom: rem(12);
    font-size: rem(14);
    line-height: rem(17);
    color: #6e7c87;

    &Icon {
      display: flex;
    }
  }
}
