@import "@/styles/unit.scss";

.container {
   margin-top: rem(40);
   margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  .title {
    text-align: center;
    font-family: "Nobile";
    font-weight: 500;
    font-size: rem(32);
    line-height: rem(48);
    letter-spacing: 0.01em;
    color: #141b2b;
    margin-bottom: rem(40);
  }
}
