@import "@/styles/unit.scss";

.container {
  width: 100%;
  padding: rem(12);
  border: 1px solid #e5e9eb;
  border-radius: rem(8);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .leftContent {
    .title {
      font-weight: 500;
      font-size: rem(14);
      line-height: rem(17);
      letter-spacing: -0.154px;
      color: #777777;
      margin-bottom: rem(8);
    }
    .text {
      font-weight: 500;
      font-size: rem(24);
      line-height: rem(29);
      letter-spacing: -0.154px;
      color: #141b2b;
    }
  }
  .rightSide {
    .btn {
      cursor: pointer;
      background: #1ac19d;
      border-radius: rem(62);
      padding: rem(8) rem(12);
      border: none;
      outline: none;
      font-family: "Inter";
      font-weight: 500;
      font-size: rem(14);
      line-height: rem(20);
      letter-spacing: -0.154px;
      color: #ffffff;
    }
  }
}
