@import "@/styles/unit.scss";

.container {
  h1 {
    font-family: "Nobile";
    font-weight: 500;
    font-size: rem(18);
    line-height: rem(20);
    letter-spacing: 0.01em;
    color: #1a2024;
    margin-bottom: rem(12);
  }
  p {
    font-size: rem(16);
    line-height: rem(27);
    color: #5b6871;
    margin-bottom: rem(32);
  }
  .ulText {
    font-size: rem(16);
    line-height: rem(27);
    color: #5b6871;
    margin-bottom: rem(0);
  }
  ul {
    margin-bottom: rem(32);
  }
  ul li {
    color: #5b6871;
    margin-left: 2%;
    line-height: rem(24);
  }
}
